body {
    margin: 0;
    padding: 0;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.center-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div-dashboard{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Vertical Line  */
.row::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 30%; /* adjust this value to adjust the distance of the line from the top */
    bottom: 10%; /* adjust this value to adjust the distance of the line from the bottom */
    border-left: 3px solid #142640;
    height: 40%;
}
.col-sm-6 {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.pl {
    padding-left: 10%;
}

.font-weight {
    font-weight: 700;