body {
    margin: 0;
    padding: 0;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.center-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div-dashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bkg{
    background-color:#142640 ;
}
.button1{
    background-color: #142640;
    border: 1px solid white;
    color: white;
    height: 40px;
    width: 180px;
}

.button2 {
    width: 190px; /* set the desired width for the buttons */
    height: 45px; /* set the desired height for the buttons */
}

.col-sm-6 {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.pl {
    padding-left: 10%;
}

.font-weight {
    font-weight: 700;

}
.level {
    text-align: left;
}